rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /matches/{matchId} {
      allow read: if true;
      allow write: if false;
    }

    match /teams/{teamId} {
      allow read: if true;
      allow write: if false;
    }

    match /events/{eventId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
